.main_box {
				width: 1280px;
				text-align: center;
				margin: 0 auto;
				background: rgba(240, 243, 246, 1);
				/* height: 10000px; */
				overflow: hidden;
			}
			.dot-bottom {
				width:0;
				height:0;
				border-right:16px solid transparent;
				border-left:16px solid transparent;
				border-top:30px solid white;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -16px;
			}
			.box2 {
				width: 100%;
				height: 375px;
				background-image: url(../img/FlexibleEnd-of-LineInspection/1.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				text-align: center;
				overflow: hidden;
			}

			.box1 {
				width: 100%;
				height: 50px;
				padding-left: 180px;
				box-sizing: border-box;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				/* border: 1px solid red; */
				font-size: 25px;
				margin-top: -40px;
			}

			.img2{
				width:20px;
				height:17px;
			}

			.fot1 {
				margin: 80px 0 16px 0;
				font-size:90px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(255,255,255,1);
				line-height:100px;
				text-shadow:0px 16px 20px rgba(0,0,0,0.3);
			}

			.fot3{
				color: #021774;
				font-size:18px;
				font-family:AvenirNext-Medium;
				font-weight:500;
				color:rgba(2,23,116,1);
				line-height:25px;
			}
			.fot4{
				color: #081032;
				font-size:18px;
				font-family:AvenirNext-Medium;
				font-weight:500;
				color:rgba(8,16,50,1);
				line-height:25px;
			}
			.j_img{
				width:5px;
				height:10px;
				margin: 0 10px;
			}

			.box3 {
				height: 712px;
				background-color: #FFFFFF;
				padding: 0 180px;
				box-sizing: border-box;
				overflow: hidden;
				position: relative;
				z-index: 9;
			}

			.box3_1 {
				width: 920px;
				height: 616px;
				font-size: 24px;
				color: rgba(8, 16, 50, 1);
				line-height: 44px;
				text-align: left;
				margin-top: 54px;
				margin-bottom: 60px;
			}

			.box4 {
				height:1138px;
				position: relative;
				padding: 80px 146px;
				box-sizing: border-box;
			}

			.box4_img {
				    width: 319px;
					height: 305px;
					position: absolute;
					right: -62px;
					top: -144px;
					z-index: 10000;
			}
			.box4_1{
				font-size:32px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(2,23,116,1);
				line-height:50px;
			}
			.box4_2{
				font-size:32px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(2,23,116,1);
				line-height:50px;
				text-align: left;
				margin-top: 40px;
				margin-bottom: 20px;
			}
			.box4_3{
				display: flex;
				justify-content: space-around;
				align-items: center;
			}
			.box4_3>img{
				width: 500px;
				height: 380px;
			}