html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
@font-face {
    font-family: "AvenirNext-DemiBold";
    src: url('../fonts/AvenirNext-DemiBold-03.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext-Bold";
    src: url('../fonts/AvenirNext-Bold-01.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext-Medium";
    src: url('../fonts/AvenirNext-Medium-06.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "AvenirNext-Regular";
    src: url('../fonts/AvenirNext-Regular-08.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    line-height: 1;
    font-family:"AvenirNext-DemiBold",
    "Microsoft Yahei",
    "WenQuanYi Micro Hei",
    "sans-serif";
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ”;
    content: none;
}
/* remember to define focus styles! */
:focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need ‘cellspacing=”0″‘ in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    text-decoration: none;
    color: #FFF;
}

a:link,
a:hover,
a:visited,
a:active {
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

a:hover {
    text-decoration: none;
}