


.big>div>img{
	width: 40px;
	height: 40px;
}
.big>video{
	width:710px;
	height:506px;
	margin-top: 180px;
	margin-bottom: 30px;
}
.big{
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.3);
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
}
.main_box {
	width: 1280px;
	text-align: center;
	margin: 0 auto;
	background: rgba(240, 243, 246, 1);
	/* height: 10000px; */
}

.box2 {
	width: 100%;
	height: 375px;
	background-image: url(../img/videos/videos.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	overflow: hidden;
}

.box1 {
	width: 100%;
	height: 50px;
	padding-left: 180px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/* border: 1px solid red; */
	font-size: 25px;
}

.img2 {
	width: 30px;
	height: 25px;
}

.fot1 {
	font-size: 66px;
	font-weight: bold;
	color: #FFFFFF;
	margin: 123px 0 16px 0;
}

.fot3 {
	color: #021774;
}

.fot4 {
	color: #081032;
}

.box3 {
	height: 264px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.box3_1 {
	width: 920px;
	height: 144px;
	font-size: 32px;
	font-family: AvenirNext-Medium;
	font-weight: 500;
	color: rgba(2, 23, 116, 1);
	line-height: 48px;
	text-align: left;
}

.img_box3 {
	width: 340px;
	height: 200px;
	margin-bottom: 30px;
}

.box3_5>img {
	width: 16px;
	height: 12px;
	margin-right: 5px;

}

.box3_6 {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.box4 {
	height: 1392px;
	padding: 80px 100px;
	box-sizing: border-box;
}

video {
	width: 320px;
	height: 230px;
	margin-bottom: 20px;
}

.box4_1 {
	width: 320px;
	position: relative;
	float: left;
	margin: 0 20px;
	margin-bottom: 40px;
}

.img_box4 {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 16px;
	right: 11px;
}

.box4_2 {
	text-align: center;
	font-size: 20px;
	font-family: AvenirNext-DemiBold;
	font-weight: 600;
	color: rgba(2, 23, 116, 1);
	line-height: 28px;
}
