.main_box {
				width: 1280px;
				text-align: center;
				margin: 0 auto;
				background: rgba(240, 243, 246, 1);
				/* height: 10000px; */
				position: relative;
			}

			.box1 {
				height: 500px;
				background-image: url(../img/z-axis/z-axis.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 100px;
				font-family: AvenirNext-DemiBold;
				font-weight: 600;
				color: rgba(255, 255, 255, 1);
				line-height: 66px;
				text-shadow: 0px 16px 20px rgba(0, 0, 0, 0.3);
			}

			.box2 {
				width: 1100px;
				/* height: 939px; */
				background: rgba(255, 255, 255, 1);
				box-shadow: 0px 12px 34px 0px rgba(203, 212, 222, 1);
				position: absolute;
				top: 400px;
				left: 90px;
				padding: 50px 60px 25px 90px;
				box-sizing: border-box;
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			.box2_1 {
				width: 360px;
			}

			.box2_1>img {
				width: 360px;
				height: 480px;
			}

			.line {
				width: 360px;
				height: 1px;
				background: rgba(2, 23, 116, 1);
				margin: 40px 0;
			}

			.box2_2 {
				font-size: 32px;
				font-family: AvenirNext-Bold;
				font-weight: bold;
				color: rgba(2, 23, 116, 1);
				line-height: 38px;
				margin-bottom: 10px;
			}

			.box2_3 {
				font-size: 18px;
				font-family: AvenirNext-Regular;
				font-weight: 400;
				color: rgba(2, 23, 116, 1);
				line-height: 34px;
			}
			.box2_4{
				width:540px;
				/* height:864px; */
				font-size:18px;
				font-family:AvenirNext-Medium;
				font-weight:500;
				color:rgba(8,16,50,1);
				line-height:36px;
				text-align: left;
			}
			.box3{
				height: 770px;
				background-color: #FFFFFF;
				padding: 80px 90px;
				box-sizing: border-box;
				margin-top: 950px;
			}
			.box3_1{
				font-size:48px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(2,23,116,1);
				line-height:50px;
				margin-bottom: 40px;
			}
			.box3_2{
				width:340px;
				height:520px;
				background:rgba(255,255,255,1);
				box-shadow:0px 12px 34px 0px rgba(203,212,222,1);
				margin-right: 40px;
			}
			.img_box3{
				width:340px;
				height: 200px;
				margin-bottom: 30px;
			}
			.box3_3{
				width: 280px;
				height: 128px;
				overflow: hidden;
				font-size:22px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(8,16,50,1);
				line-height:32px;
				margin-left: 30px;
				text-align: left;
			}
			.box3_4{
				margin-top: 45px;
				font-size:16px;
				font-family:AvenirNext-Regular;
				font-weight:400;
				color:rgba(153,153,153,1);
				line-height:28px;
				text-align: left;
				margin-left: 30px;
				margin-bottom: 30px;
			}
			.box3_5{
				font-size:20px;
				font-family:AvenirNext-DemiBold;
				font-weight:600;
				color:rgba(215,36,47,1);
				line-height:28px;
				text-align: left;
				padding-left: 30px;
				box-sizing: border-box;
			}
			.box3_5>img{
				width:16px;
				height:12px;
				margin-right: 5px;
				
			}
			.box3_6{
				display: flex;
				justify-content: flex-start;
				align-items: center;
			}